@charset "UTF-8";

/* head ---------------------------------------------------- */
.m_header{
    display: flex;
    flex-direction: column;
}
/* 더보기 버튼 */
.e_btn_area{
    display: flex;
    justify-content: right;
    padding: 5px 20px 5px 20px;
}

.etc_btn{
    padding: 5px 20px 5px 20px !important;
    border: 3px solid var(--color_begie) !important;
    border-radius: 15px !important;
    font-size: 13px !important;
}

.etc_btn:hover{
    background-color: var(--color_greyish) !important;
    color: white !important;
    font-weight: bold !important;
}

/* main ---------------------------------------------------- */
.m_main_t{
    margin-bottom: 60px;
}

.m_main_t h4{
    padding: 5px 10px 5px 10px;
}

/* 테이블 공통 */
.m_table{
    width: 100%;
    border-collapse: separate !important;
    border-spacing: 2px;
}

.t_hr{
    background-color: #d9cec16d;
}

.m_table th{
    height: 40px;
    background-color: var(--color_begie);
    text-align: center !important;
}

.m_table td{
    height: 50px;
    padding: 5px 10px 5px 10px;
}

.txt_center{
    text-align: center;
}

.txt_right{
    text-align: right;
}

/* 주문요약 테이블만 적용 */
.m_s_t{
    border-bottom: 1px solid var(--color_begie);
}
