@charset "UTF-8";

.order_wrap{
	height: 1200px;
	overflow: scroll;
}

/* m_search 
    ㄴ m_table
       	ㄴ search_term
        ㄴ search_month
        ㄴ search_date
        ㄴ search_btn
*/
.m_search{
    margin-bottom: var(--margin);
}

/* 화면 크기 830px 미만 부터 적용 */
@media screen and (max-width: 480px) { 
    .m_search{
        height: 110px;
    }
}

/* 일자별 */
.search_date{
	display: flex;
	justify-content: right;
	align-items: center;
}

.s_date{
	height: 100%;
}

.s_date input{
    border: none;
    outline: none;
    margin: 10px;
} 


/* 조회 버튼 */
.s_date .etc_btn{
	margin-top: 5px;
}

/* m_main 
    ㄴ m_order_month    : 주문월
    ㄴ m_order_rows     : 주문내역 테이블
        ㄴ m_table
            ㄴ m_order_row
                ㄴ p_date_area
                ㄴ p_cont_area

*/
.m_order_rows{
    margin-bottom: var(--margin);
}

.m_order_month{
    padding-bottom: var(--margin);
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--color_begie);
}

.m_order_month .point_text{
    padding: 10px 20px 10px 20px;
    border: 2px solid var(--color_begie);
    box-shadow: var(--box_shadow);
    border-radius: 20px ;
}

/* row 테이블 */
.m_order_row{
    height: 150px;
}

/* 주문번호, 날짜 */
.p_date_area p{
    margin-bottom: 0px;
}

.p_date{
    display: block;
}

.p_date:hover{
    font-weight: bold;
}


/* 페이지 */
.m_page div{
    display: flex;
    justify-content: center;
}

.m_page div .btn{
    width: 80%;
    border-radius: var(--radius);
    background-color: var(--color_begie);
}

.m_page div .btn:hover{
    font-weight: bold;
}

/* 알림창 */
.modal_body {
     position: absolute;
     top: 60%;
     left: 50%;

     width: 500px;
     height: 600px;

     padding: 20px;

     text-align: center;

     background-color: rgb(255, 255, 255);
     border-radius: 10px;
     box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

     transform: translateX(-50%) translateY(-50%);
 }
 
 
 
/* 배달 현황 요약 */
.m_summary{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}

.m_summary_in{
    width: 100%;
    height: 90px;
	margin: auto;
	display: flex;
	justify-content: space-around;
	background-color: var(--color_begie_op);
	border-radius: 10px;
	box-shadow: var(--box_shadow);
}

.m_s_delivery{
	width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.m_s_delivery h3{
	margin-bottom: 5px;
}

.cnt_txt{
    width: 100px;
    height: 30px;
}

.m_s_delivery .a{
    font-size: 20px;
    transition: .4s ease-in-out;
}

.m_s_delivery .a:hover{
    font-size: 25px;
    color: var(--color_milk_brown);
}


