@charset "utf-8";
@font-face {
    font-family: 'YESMyoungjo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Danjunghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




/*************************/
/* 메인 페이지 기본
/************************/
.container {
    padding: 0 20px;
    position: relative;
    margin: 0 auto;
}

#main-contents {
    min-width: 1000px;
    min-height: 800px;
    display: block;
    position: relative;
    clear: both;
}
 
.main-contents {
    min-height: 800px;
}

 @media(min-width:1200px) {
    .container {
    min-width: 1200px;
    } 
}

.main-contents .container-wide .main-visual .visual-title {
    font-family: 'Cafe24Danjunghae';
    font-size: 3em;
    color: #fff;
    line-height: 1.5;
    position: relative;
    z-index: 1;
    text-align: center;
    top: 40%;
}


.main-contents .main-visual video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -999;
}

.main-contents .main-visual .btn {
    position :absolute;
    width: 200px;
    height: 50px;
    z-index: 2;
    font-size: 20px;
    color: #Fff;

}

.main-recom {
    margin-top: 110px;
    position: relative;
    height: 100%;
    padding: 20px;
}

.main-recom .recom-title {
    font-size: 30px;
    word-break: break-all;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 5px;
    font-weight: 500;
    line-height: 50px;
}

.main-contents .recom-txt {
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 3px;
    padding: 15px 0 40px;

}
.main-contents .main-recom .recom-wrapper {
    position: relative;
    display: block;
    box-sizing: border-box;
}

.main-contents .main-recom .recom-wrapper .recom-box {
    display: inline-block;
    width: 35%;
    padding: 0;
    text-align: left;
    padding: 0 30px 80px 0;
    cursor: pointer;
}


.main-contents .main-recom .recom-wrapper .recom-box img {
    width: 380px;
    height: 380px;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    position: relative;
    display: block;
    margin: auto;
}

